<!--<div style="height: 50px;padding: 8px;color: white;background-color: #1976d2;">
  <div>
    <h2>Welcome to Assignment</h2>
  </div>
  <div>
    <h3>Banks</h3>
    <h3>Users</h3>
  </div>
</div>-->
  <div style="background-color:#ded8d8;height:100%;" (mouseover)='mouseover()'>
    <div class="d-flex bd-highlight" style="height: 50px;padding: 8px;color: white;background-color: #1976d2;margin-bottom:1px;">
      <div class="p-2 flex-grow-1 bd-highlight"><h2>Welcome to Assignment</h2></div>
      <div class="p-2 bd-highlight"><button mat-button routerLink="/banks">Banks</button></div>
      <div class="p-2 bd-highlight"><button mat-button routerLink="/users">Users</button></div>
    </div>

    <router-outlet></router-outlet>
  </div>
